body {
  background-color: rgba(209, 142, 228, 0.877);
}

.puntaje {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: rgb(181, 91, 204);
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-mask-image: url("../img/estrella.svg");
  mask-image: url("../img/estrella.svg");
}

.item.selec {
  background-color: rgb(78, 48, 126);
}
